body {
  color: white;
}

.grid {
  display: grid;
  height: 50vh;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  justify-content: center;
}

.header {
  background-color: wheat;
}

.content {
  background-color: mediumaquamarine;
}

.nav {
  background-color: blue;
}

.footer {
  background-color: brown;
}
